body {
    font-family: 'Lato';
    }
.fa-btn {
    margin-right: 6px;
    }
.navbar-default-1{
    background-color: #454545;
    border: 0;
    border-radius: 0;
    }
.content{
    padding: 30px;
    background-color: #f4f4f4;

    }
.navbar {
  
    margin-bottom: 0px !important;
    
}
.row{
    margin-bottom: 20px;
}
.project_content{
    background-color: white;
}
.content form fieldset {
    margin: 0 0 5rem 0;
    background-color: #f7f7f7;
}
.form-group {
    padding-left: 10px;
    padding-right: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    top: 100%;
    left: 0;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    font-size: 14px;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    
}
.dropdown-content > li{
    padding: 4px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.project_content {
    padding: 3.5rem 1.5rem 1.5rem 1.5rem;
    color: #555;
    font-size: 15px;
}
.project_content div h2{
    font-size: 2rem;
    line-height: 1.2;
    margin: 0 0 .5rem 0;
}
.project_content div p
{
    margin: 1rem 0 0 0;
    font-weight: 300;
}
  .ajax-load{
        background: #e1e1e1;
        padding: 10px 0px;
        width: 100%;
      }
.button-project{
    margin-top: 10px;
    margin-bottom: 10px;
}
.project_avatar{
    background-position: 50% 40%;
    height: 210px;
    width: 100%;
    background-size: cover;
    position: relative;
}